{% extends "index.html.twig" %}

{% block contenu %}

    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
            <h3 class="widget-user-username">Franklin Magweth</h3>
            <h5 class="widget-user-desc">Founder &amp; CEO of <b>DONMAN237</b></h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle elevation-2" src="../dist/img/franklin.jpg" alt="User Avatar">
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <a href="https://www.linkedin.com/in/franklin-gaby-nguegang-17212b153/" target="_blank">
                            <i class="fab fa-linkedin-in fa-3x"></i>
                            <h5 class="description-header">Linkedin</h5>

                        </a>
                    </div>
                    <!-- /.description-block -->
                </div>

                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <a href="https://www.facebook.com/franklin.nguegang" target="_blank">
                        <i class="fab fa-facebook-square fa-3x"></i>
                        <h5 class="description-header">2353</h5>
                        <span class="description-text">AMIS</span>
                        </a>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <a href="https://www.instagram.com/f_magweth/" target="_blank">
                        <i class="fab fa-instagram fa-3x"></i>
                        <h5 class="description-header">399</h5>
                        <span class="description-text">FOLLOWERS</span>
                        </a>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3">
                    <div class="description-block">
                        <a href="https://twitter.com/Nagato237" target="_blank">
                        <i class="fab fa-twitter-square fa-3x"></i>
                        <h5 class="description-header">219</h5>
                        <span class="description-text">FOLLOWERS</span>
                        </a>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->

{% endblock %}