<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoronaStat Cameroun</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">

    <script data-ad-client="ca-pub-4083542536456398" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{{ path('homepage') }}" class="nav-link">Accueil</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{{ path('infos') }}" class="nav-link">Infos</a>
            </li>
        </ul>
    <ul class="navbar-nav ml-auto" >

        <h5> {% trans %}Pour tout cas suspect appelez le{% endtrans %} <b style="color: red">1510</b></h5>

    </ul>

    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{{ path('homepage') }}" class="brand-link">
            <img src="dist/img/cameroun.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">CoronaStat CM</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="dist/img/franklin.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info"  >
                    <a  href="https://www.facebook.com/franklin.nguegang" class="d-block" target="_blank">Franklin Magweth</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="{{ path('homepage') }}" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Accueil
                            </p>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="{{ path('stats') }}" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Statistiques

                            </p>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link">

                            <i class="nav-icon fas fa-folder-open"></i>
                            <p>
                                 Sources
                                <span class="right badge badge-danger">En travaux !</span>
                            </p>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="{{ path('contact') }}" class="nav-link">
                            <i class="nav-icon fas fa-question-circle"></i>

                            <p>
                                Qui Suis-Je ?

                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('actualites') }}" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Actualités

                                <span class="right badge badge-danger">En travaux !</span>
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('newsletter') }}" class="nav-link">
                            <i class="nav-icon far fa-envelope"></i>
                            <p>
                             Gardez l'info
                                <span class="right badge badge-danger">En travaux !</span>
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('infos') }}" class="nav-link">

                            <i class="nav-icon fas fa-address-book"></i>
                            <p>
                                Contact MinSante
                            </p>
                        </a>
                    </li>





                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        {% block contenu %}

        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-12">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{nombre}} / <b style="color: yellow">{{ nombre - retablies - mort }}</b></h3>

                                <p>TOTAL DE CAS</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <a href="#" class="small-box-footer"><br></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-12">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">


                              <span style="color: white"> <b style="font-size: 2em; color: white">{{ nouveau[0].nombre }}</b> &nbsp; NOUVEAUX CAS</span> <br>
                                {% if diff < 0 %}
                                <span style="color: white"> <b style="font-size: 2em; color: green">{{ diff }}%</b>
                                    &nbsp; DE REGRESSION
                                {% else %}
                                    <span style="color: white"> <b style="font-size: 2em; color: red">{{ diff }}%</b>
                                    &nbsp;  D'AUGMENTATION
                                {% endif %}
                                    </span>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">Mise a jour du <b>{{ nouveau[0].jourformat }}</b></a>

                        </div>
                    </div>



                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ retablies }}</h3>

                                <p>CAS RETABLIS</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-injured"></i>
                            </div>
                            <a href="#" class="small-box-footer"><br></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>{% if mort %} {{ mort }}
                                {% else %}
                                    0
                                    {% endif %}
                                </h3>

                                <p>MORT(S)</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-skull-crossbones"></i>
                            </div>
                            <a href="#" class="small-box-footer"><br></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                {#<div class="alert alert-success" role="alert">#}
                   {#Le Nombre de Cas par ville a été mis a jour le 12 / 04 / 2020#}
                {#</div>#}
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-10 connectedSortable">

                        {#Affichage de la carte#}
                        <div id="carte" style="height:600px " ></div>
                        <br>
                        <div class="card bg-gradient-info">

                            <!-- /.card-footer -->
                        </div>

                        <canvas id="myChart" width="400" height="200"></canvas>
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-2 connectedSortable">

                        <!-- Map card -->
                        <div class="card bg-gradient-primary">
                            <div class="card-header">
                                <h3 class="card-title">Mise a Jour des Regions<strong>14/07/2020</strong> </h3>
                            </div>
                            <ul class="list-group">
                                {% for ville in villes %}
                                <li class="list-group-item d-flex justify-content-between align-items-center text-dark">
                                    {{ ville.ville }}
                                    {% if ville.nombre >10 %}
                                    <span class="badge badge-danger badge-pill">
                                        {% else %}
                                    <span class="badge badge-primary badge-pill">
                                        {% endif %}
                                        {{ ville.nombre }}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>

                                {#<!-- /.row -->#}
                            </div>
                        </div>

                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>

        {% endblock contenu %}
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <b>Source des données : Ministere de la santé du Cameroun & OMS</b><br>
        <strong>Copyright &copy; 2020 <a href="https://www.facebook.com/franklin.nguegang" target="_blank">Franklin Magweth</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.2
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="plugins/jquery/jquery.min.js"></script>
<script>

    var villes = null;
    $(document).ready(function() {
        $.ajax({
            method: "get",
            url: "{{ path('casparville') }}",
            success: function(reponse){
                console.log(reponse);
                villes = reponse;
                carte(reponse);
                // dataparville(reponse);



            }
        });
    });

    $(document).ready(function() {
        $.ajax({
            method: "get",
            url: "{{ path('casparville') }}",
            success: function(reponse){
                dataparville(reponse);
            }
        });
    });

function carte(data) {
    var cartes = L.map('carte').setView([3.87, 11.52], 7);
    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        minZoom: 4,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token'
    }).addTo(cartes);


    for(ville in data){
    cordo = [];
      nom = villes[ville].ville;
        nombre = villes[ville].nombre;
       cordo[0] = parseFloat( villes[ville].lattitude);
        cordo[1] = parseFloat(villes[ville].longtitude);

         var marker = L.marker(cordo).addTo(cartes);
        marker.bindPopup("<b>"+nom+" <h4 style='color: red;'> " +nombre+"</h4></b>CAS REPERTORIES.").openPopup();
    }
}


    $(document).ready(function() {
        $.ajax({
            method: "get",
            url: "{{ path('casparjour') }}",
            success: function(reponse){
                console.log(reponse);
                datajournalier(reponse)
            }
        });
    });

function datajournalier(data) {
    var ctx = document.getElementById('myChart').getContext('2d');
    titre = [];
    i= 0;
    for (donnee in data){
        // console.log(data[donnee].jour);
      titre[i] =  data[donnee].jourformat;
       i = i+1;
    }

    number = [];
    i= 0;
    for (donnee in data){
        // console.log(data[donnee].jour);
        number[i] =  data[donnee].nombre;
        i = i+1;
    }

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: titre.reverse(),
            datasets: [{
                label: 'NOMBRES DE CAS DES DERNIERS JOURS',
                data: number.reverse(),
                backgroundColor: [
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)'
                ],
                borderColor: [
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)',
                    'rgb(4, 47, 102)'

                ],
                borderWidth: 0
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}


    function dataparville(data) {

        var ctx = document.getElementById('parville').getContext('2d');
        titre = [];
        i= 0;
        for (donnee in data){
            // console.log(data[donnee].jour);
            titre[i] =  data[donnee].ville;
            i = i+1;
        }


        number = [];
        i= 0;
        for (donnee in data){
            // console.log(data[donnee].jour);
            number[i] =  data[donnee].nombre;
            i = i+1;
        }

        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: titre.reverse(),
                datasets: [{
                    label: 'NOMBRES DE CAS DES DERNIERS JOURS',
                    data: number.reverse(),
                    backgroundColor: [
                        'rgba(255, 99, 132)',
                        'rgba(54, 162, 235)',
                        'rgba(255, 206, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(153, 102, 255)',
                        'rgba(255, 159, 64)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }


</script>


<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script src="dist/js/pages/dashboard3.js"></script>
</body>
</html>
