{% extends "index.html.twig" %}

{% block contenu %}
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Enregistre ton email pour etre tenu informé </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adresse Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Entrez l'email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirmation Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Entrez de nouveau l'email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Pseudo</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ton kankan nom">
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
        <!-- /.card -->




        <!-- /.card -->

        <!-- Input addon -->

        <!-- /.card -->

    </div>
{% endblock %}