{% extends "index.html.twig" %}

{% block contenu %}


        <div class="row">

            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">

                            <b>Nombres de nouveaux Cas par jour</b>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <canvas id="myChart" width="400" height="200"></canvas>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>Nombre de Cas par Region  </b>

                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <canvas id="parville" width="400" height="200"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title"><b>Répartition par tranche d’âge et par sexe des
                                    <span style="color: red">8 726</span> premiers cas confirmés </b> </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p >
                                <span class="badge badge-primary">Homme</span>
                                <span class="badge badge-danger">Femme</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                      <i class="fas fa-arrow-up"></i> 10.1%
                    </span>
                                <span class="text-muted">Since last month</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                            <canvas id="sales-chart" height="200"></canvas>
                        </div>

                        <div class="d-flex flex-row justify-content-end">

                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">

                            <b>Pourcentages</b>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible">

                            <h5><i class="icon fas fa-ban"></i> Infos!</h5>
                            Cette section est en travaux !!!
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>



{% endblock %}